@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(https://fonts.gstatic.com/s/juliussansone/v6/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: local('Tajawal'), local('Tajawal-Regular'), url(https://fonts.gstatic.com/s/tajawal/v1/Iura6YBj_oCad4k1nzGBC5xLhLE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  font-size: 16px;
  height:100%;
  padding:0;
  margin:0;
}


h1{
  font-size: 3rem;
  font-weight: bold;
  color: #25274D;
  font-family: "julius-sans-one", sans-serif;
}

h2 {
  font-family: "julius-sans-one", sans-serif;
  font-size: 1.rem;
  color: #25274D;
}

h3,
a {
  font-family: "tajawal", sans-serif;
  font-size: .75rem;
  color: #25274D;
}

h4 {
  font-family: "tajawal", sans-serif;
  font-size: 1rem;
  color: #25274D;
}

p {
  color: #25274D;
  font-family: "tajawal", sans-serif;
  font-size: 1.5
}
/* header */

header {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  align-items: center;
  height: 4rem;
  background-color: #2E9CCA;
  border-bottom: 1px solid #25274D;
  position: fixed;
  width: 100%;
  font-size: 1.5rem;
}

.logo {
 display: flex;
 align-items: center;
 height: 2rem;
}

.title {
  font-family: "julius-sans-one", sans-serif;
}

.container-header {
  width: 100%;
  overflow: hidden;
}

.title span:first-child {
  font-weight: bold;
  color: #25274D;
}

.title span:last-child {
  color: #ADD8E6;
}

header .desktop {
  padding-right: 3rem;
}

header .desktop span {
 padding: 0rem .5rem 0 .5rem;
 color: #ADD8E6;
 font-family: "julius-sans-one", sans-serif;
}

header .mobile {
  display: none;
}

@media only screen and (max-device-width: 640px) {
  header .mobile {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }

  header .mobile img {
   justify-content: space-around;
   height: 4rem;
  }

  header .mobile {
    padding-right: 2rem;
  }

  header .desktop {
    display: none;
  }
  header {
    height: 8rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .logo img {
    height: 4rem;
  }
}

@media only screen and (max-width: 640px) {
  header .mobile {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }

  header .mobile img {
   justify-content: space-around;
  }

  header .mobile {
    padding-right: 2rem;
  }

  header .desktop {
    display: none;
  }

  .title {
    font-size: 2.5rem;
  }
  .logo img {
    height: 4rem;
  }
}
 /* Start Here section */

 .container-start {
   overflow: hidden;
 }

.start-here {
  display: flex;
  padding: 6rem 0rem 2rem 1.5rem;
  background-color: WhiteSmoke;
  align-items: center;
  width: 100%;
}

.start-here img{
  width: 60%;
  padding-right: 1.5rem;
}

.start-here .content {
  width: 25%;
}

.start-here .content h1 {
  padding-bottom: 1.5rem;
}

.start-here .content p {
  color: #25274D;
}

.start-here-btn {
  display: block;
  background-color: #2E9CCA;
  color: #ADD8E6;
  padding: .5rem;
  margin-top: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.content span {
  transition: background-color 200ms ease-out;
}

.content span:hover {
  background-color: #25274D;
}

@media only screen and (max-device-width: 640px) {
  .start-here img{
    width: 100%;
    padding: 0;
  }
  .container-start .start-here {
    padding: 4rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
  }
  .start-here .content {
    width: 100%;
    text-align: left;
  }

  .start-here .content h1 {
    padding: 1rem;
    font-size: 2rem
  }

  .start-here .content p {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .start-here-btn {
    margin: 1.5rem 1rem 2rem 1rem;
  }

  .content span {
    height: 4rem;
    font-size: 2.5rem;
    padding-top: 1.5rem;
  }
}

@media only screen and (max-width: 640px) {
  .start-here img{
    width: 100%;
    padding: 0;
  }
  .container-start .start-here {
    padding: 4rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
  }
  .start-here .content {
    width: 100%;
    text-align: left;
  }

  .start-here .content h1 {
    padding: 1rem;
    font-size: 2rem
  }

  .start-here .content p {
    padding: 1rem;
    font-size: 1.5rem
  }
  .start-here-btn {
    margin: 1.5rem 1rem 2rem 1rem;
    height: 4rem;
  }
}

/* middle section*/

.container-middle {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.middle-left {
  display: block;
  width: 60%;
  background-color: white;
  align-items: center;
}

.middle-left img {
  width: 100%;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.middle-left h1,
.middle-left p {
  padding-left: 1.5rem;
}


.middle-left p {
  padding-top: 1.5rem;
}

.middle-left .content {
  padding-bottom: 2rem;
}

.middle-right .mobile {
  display: none;
}

.middle-right {
  display: block;
  width: 40%;
  background-color: white;
  align-items: center;
  padding-top: 1rem;
}

.orientation,
.our-campus,
.guest-lecture {
  display: flex;
}

.middle-right img {
  width: 35%;
  height: 80%;
  padding: 1rem;
}

.middle-right .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.content {
  padding-left: 1rem;
}

.our-campus {
  background-color: WhiteSmoke;
}
h2 {
  padding-bottom: .5rem;
 }

a {
  color: #2E9CCA;
  text-decoration: none;
  padding-top: .5rem;
}
@media only screen and (max-device-width: 640px) {
  .middle-left{
    display: none;
  }

  .middle-right .mobile {
    display: flex;
  }

  .middle-right .desktop {
    display: none;
  }

  .container-middle{
    display: flex;
  }

  .middle-right {
    display: block;
    width: 100%;
  }

  .orientation,
  .our-campus,
  .guest-lecture {
    display: flex;
    margin-left: 1rem;
    flex-direction: column;
    text-align: left;
  }

  .middle-right img {
    width: 90%;
  }

  .content {
    align-items: flex-start;
  }
  .middle-right .content h2 {
    font-size: 2rem;
  }
  .middle-right .content h3,
  .middle-right .content a {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 640px) {
  .middle-left{
    display: none;
  }

  .middle-right .mobile {
    display: flex;
  }

  .middle-right .desktop {
    display: none;
  }

  .container-middle{
    display: flex;
  }

  .middle-right {
    display: block;
    width: 100%;
  }

  .orientation,
  .our-campus,
  .guest-lecture {
    display: flex;
    margin-left: 1rem;
    flex-direction: column;
    text-align: left;
  }

  .middle-right img {
    width: 90%;
  }

  .content {
    align-items: flex-start;
  }

  .content h2 {
    font-size: 2rem;
  }
  .content p {
    font-size: 1.5rem;
  }

  .middle-right .content h3,
  .middle-right .content a {
    font-size: 1.5rem;
  }
}
/*course section*/

.container-courses {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: WhiteSmoke;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 4.5rem 2rem 4.5rem;
  justify-content: space-between;
}

.course {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  margin-bottom: 2rem;
}

.course h2{
  padding: 1rem 0rem .5rem 1rem
}

.course h3 {
  padding-bottom: .5rem;
  padding-left: 1rem;
}

.course h4 {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

.course img {
  width: 100%;
}

.section-title {
  padding-top: 2rem;
  text-align: center;
}

@media only screen and (max-device-width: 640px) {
  .course img,
  .course h3,
  .course h4 {
    display: none;
  }
  .course h2 {
    padding: 1rem 0rem 1.5rem 1rem;
    font-size: bold;
    font-size: 3rem;
    text-align: center;
  }
  .container-courses {
    background-color: white;
  }

  .course {
    display: block;
    width: 100%;
    padding-bottom: .5rem;
    height: 5rem;
    background-color: WhiteSmoke;
  }

  .courses {
    margin: 1rem 1rem 3rem 1rem;
    padding: 0rem;
  }
}

@media only screen and (max-width: 640px) {
  .course img,
  .course h3,
  .course h4 {
    display: none;
  }
  .course h2 {
    padding: 1rem 0rem 1.5rem 1rem;
    font-size: bold;
    font-size: 3rem;
    text-align: center;
  }
  .container-courses {
    background-color: white;
  }

  .course {
    display: block;
    width: 100%;
    padding-bottom: .5rem;
    height: 5rem;
    background-color: WhiteSmoke;
  }

  .courses {
    margin: 1rem 1rem 3rem 1rem;
    padding: 0rem;
  }
}

/*thesis*/

.thesis video {
  width: 90%;
  margin: 1.5rem;
}

.title-thesis {
  font-weight: bold;
  text-align: center;
  padding: 2rem 0rem .5rem 0rem;
}

.container-thesis {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: left;
}

.right {
  display: flex;
  width: 40%;
  flex-direction: column;
  padding-top: 1.5rem;
}

.right .first {
  display: flex;
  background-color: WhiteSmoke;
}

.right .second {
  display: flex;
}

.right img {
  width: 30%;
  height: 100%;
  padding: 1rem;
}

.first .content,
.second .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left .content {
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

.left .content h2 {
  padding-bottom: .5rem;
}

@media only screen and (max-device-width: 640px) {
  .left .content {
    display: none;
  }

  .right {
    display: none;
  }

  .left {
    width: 100%;
  }

  .title-thesis {
    font-size: 3rem;
  }

  .thesis video {
    width: 100%;
    margin: auto 0;
  }
}

@media only screen and (max-width: 640px) {
  .left .content {
    display: none;
  }

  .right {
    display: none;
  }

  .left {
    width: 100%;
  }

  .title-thesis {
    font-size: 3rem;
  }
  .thesis video {
    width: 100%;
    margin: auto 0;
  }

}

/*footer*/

.footer {
  display: flex;
  height: 4rem;
  border-top: 1px solid #25274D;
  justify-content: space-between;
}

.footer .copyright {
  padding: 1rem 0rem 0rem 1.5rem;
  color: #25274D;
  font-family: "tajawal", sans-serif;
  font-size: 1rem;
}

.footer .terms,
.footer .privacy {
  display: inline-flex;
  padding-right: 1.5rem;
  padding-top: 1rem;
  color: #25274D;
  font-family: "tajawal", sans-serif;
  font-size: 1rem;
}

@media only screen and (max-device-width: 640px) {
  .footer .terms,
  .footer .privacy {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .footer .terms,
  .footer .privacy {
    display: none;
  }
}
